.formBox {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.formLabel {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.formSpan {
  margin-bottom: 5px;
}

.formLabel:focus-within {
  color: #2116b4;
}

.formInput {
  width: 300px;
  margin-left: 0px;
  margin-bottom: 15px;
}

.formBtn {
  width: 100px;
}
